# Настройка по умолчанию: Git сам определяет текстовые файлы
# и приводит их к формату LF при сохранении в базу
* text=auto

# Явно указываем, что файлы с кодом и документацией должны иметь LF
*.py text eol=lf
*.md text eol=lf

# Если у вас есть бинарные файлы (картинки, веса моделей), 
# Git не должен их трогать
*.jpg binary
*.png binary